<div class="form-group">

  <label for="sexe">Sexe <span class="text-primary">*</span></label>

  <div class="input-group flex-nowrap">

    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-venus"></i> / <i class="fas fa-mars"></i></span>
    </div>

    <select class="custom-select" name="sexe" id="sexe" required="required">
      <option value="HOMME">Homme</option>
      <option value="FEMME">Femme</option>
    </select>
  </div>
</div>
