<div class="form-group">
  <label for="prenom">Prénom</label> et <label for="nom">Nom</label>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <input id="prenom" name="prenom" placeholder="Prénom" type="text" class="form-control text-capitalize"
           readonly="readonly">

    <input id="nom" name="nom" placeholder="Nom" type="text"
           class="form-control text-uppercase"
           readonly="readonly">
  </div>
</div>
