<div class="form-group">

  <label for="licence">Numéro de licence</label>

  <div class="input-group flex-nowrap">

    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-id-card"></i></span>
    </div>

    <input id="licence" name="licence" placeholder="Licence" type="text" class="form-control" required="required" readonly="readonly">

    <div class="input-group-append">
      <a href="https://www.myffbad.fr/recherche/joueur/" target="_blank" class="btn btn-dark">
        <span style="color: red; font-style: italic;">My</span>
        <span style="font-weight: bold; color: white">FFBAD</span>
      </a>
    </div>

  </div>
</div>
