<h1>Calendrier</h1>

<table class="table table-striped table-bordered table-responsive-md mb-2">
  <thead>
  <tr class="table-primary">
    <th scope="col">Date</th>
    <th scope="col">Ville</th>
    <th scope="col">Simples</th>
    <th scope="col">Mixtes</th>
    <th scope="col">Doubles</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-secondary">
    <th colspan="100%">Mars</th>
  </tr>
  <tr>
    <td class="align-middle">30/03/2019</td>
    <td class="align-middle">Olemps</td>
    <td class="align-middle text-center"><span class="badge badge-secondary">-</span></td>
    <td class="align-middle text-center"><span class="badge badge-secondary">-</span></td>
    <td class="align-middle text-center"><span class="badge badge-success">Oui</span></td>
    <td class="align-middle">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
                title="Le tournoi"><i class="fas fa-info"></i></button>
        <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top"
                title="Modifier l'inscription"><i class="fas fa-edit"></i></button>
      </div>
    </td>
  </tr>
  <tr class="table-secondary">
    <th colspan="100%">Mai</th>
  </tr>
  <tr>
    <td class="align-middle">07/05/2019</td>
    <td class="align-middle">Le Monastère</td>
    <td class="align-middle text-center"><span class="badge badge-danger">Non</span></td>
    <td class="align-middle text-center"><span class="badge badge-success">Oui</span></td>
    <td class="align-middle text-center"><span class="badge badge-success">Oui</span></td>
    <td class="align-middle">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
                title="Le tournoi"><i class="fas fa-info"></i></button>
        <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top"
                title="Modifier l'inscription"><i class="fas fa-edit"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td class="align-middle">15/05/2019</td>
    <td class="align-middle">Paris</td>
    <td class="align-middle text-center"><span class="badge badge-danger">Non</span></td>
    <td class="align-middle text-center"><span class="badge badge-danger">Non</span></td>
    <td class="align-middle text-center"><span class="badge badge-success">Oui</span></td>
    <td class="align-middle">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
                title="Le tournoi"><i class="fas fa-info"></i></button>
        <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top"
                title="Modifier l'inscription"><i class="fas fa-edit"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
